@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* css */

.text-oswald {
    font-family: 'Oswald', sans-serif;
}

.text-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar-main {
    width: 100%;
    height: 60px;
    /* background-color: #333; */
    z-index: 10;
}
/* .navbar-main:hover {
    background-color: #555;
} */

.hero-main {
  position: relative;
  background-image: url('./assets/img/hero.svg');
  background-size: cover;
  background-position: center;
  height: 904px;
  width: 100%;
  z-index: 0;
}

.hero-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 904px;
  background: rgba(0,0,0,0.8); /* atur tingkat redup */
  pointer-events: none;
  z-index: -1;
}

.marquee-one {
  width: 110%;
  height: 100px;
  background: #FE5208;
  /* background-size: contain;
  animation: marqueeAnimation 10s linear infinite; */
  rotate: 359deg;
}

.marquee-two {
  width: 110%;
  height: 100px;
  background: #000000;
  /* background-size: contain;
  animation: marqueeAnimation 10s linear infinite; */
  rotate: 1deg;
}

.achivement-div {
  position: relative;
  background-image: url('./assets/img/achivement.svg');
  background-size: cover;
  background-position: center;
  height: 508px;
  width: 100%;
  z-index: 3;
  padding: 3.5rem 4.125rem;
}

.achivement-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 508px;
  background: rgba(0,0,0,0.8); /* atur tingkat redup */
  pointer-events: none;
  z-index: -2;
}

 /* Mengganti ikon saat <details> terbuka */
details[open] summary i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

summary i {
  transition: transform 0.3s ease;
}

/* Hilangkan default arrow bawaan browser */
summary::-webkit-details-marker {
  display: none;
}

/* Background berubah saat accordion terbuka */
details summary {
  background-color: #161616;
  transition: background-color 0.3s ease;
}

details[open] summary {
  background-color: #FE5208;
}

details summary div {
  background-color: #FE5208;
  transition: background-color 0.3s ease;
}

details[open] summary div {
  background-color: #161616;
}

.stb_line_single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
}
.stb-item {
  padding: 0;
  font-size: 6.4rem;
  display: inline-block;
  margin-right: 1rem;
}